name = "theforktreeproject-com"
main = "./dist/_worker.js/index.js"
compatibility_date = "2026-02-24"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = "./dist"
binding = "ASSETS"

[observability]
enabled = true
